.banner {
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner-image {
   max-width: 100%;
}

.banner-logo {
   width: 25%;
   position: absolute;
   filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, .5));
}