footer {
  margin: 0 auto;
  background-color: var(--darkgray);
  margin-top: 5em;
}


.footer-container {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// This is a little gross but we still love it
.right-list {
  & > li {
    margin-left: .5em;
    padding: .5em;
    border-radius: var(--bradius);
    transition: background-color var(--transition);
    &:hover {
      background-color: var(--black);
    }
    & > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      & > img {
        margin-left: .5em;
      }
    }
  }
}

.left-list {
  padding: .5em;
}

@media(max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }
}