.track-item-container {
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: 150ms;
   text-decoration: none;
   border-radius: var(--bradius);
   &:hover {
      background-color: var(--gray);
   }
}

.track-map {
   margin: .5em 1em;
   width: 80px;
}

.track-name {
   margin: 0;
   font-weight: 500;
   font-size: 1.2em;
}

.active-track {
   background-color: var(--gray);
}