<div class="track-item-container">
   <img class="track-map" src="https://via.placeholder.com/80x50" alt="alt">
   <h2 class="track-name">Daytona International Speedway</h2>
</div>
<div class="track-item-container">
   <img class="track-map" src="https://via.placeholder.com/80x50" alt="alt">
   <h2 class="track-name">Daytona International Speedway</h2>
</div>
<div class="track-item-container">
   <img class="track-map" src="https://via.placeholder.com/80x50" alt="alt">
   <h2 class="track-name">Daytona International Speedway</h2>
</div>
<div class="track-item-container">
   <img class="track-map" src="https://via.placeholder.com/80x50" alt="alt">
   <h2 class="track-name">Daytona International Speedway</h2>
</div>
<div class="track-item-container">
   <img class="track-map" src="https://via.placeholder.com/80x50" alt="alt">
   <h2 class="track-name">Daytona International Speedway</h2>
</div>
