.tracks-layout {
   max-width: 70%;
   margin: 0 auto;
   display: flex;
}

.page-heading {
   text-align: left;
}

app-track-list {
   max-width: 40%;
   margin-right: 2em;
   background-color: var(--darkgray);
   border-radius: var(--bradius);
}