.tracks-layout {
   max-width: 70%;
   margin: 0 auto;
   display: flex;
}

.page-heading {
   text-align: left;
}

app-track-list {
   max-width: 40%;
   margin-right: 2em;
   background-color: var(--darkgray);
   border-radius: var(--bradius);
}

.router-outlet {
   width: 100%;
}

@media(max-width: 1200px) {
   .tracks-layout {
      flex-direction: column-reverse;
   }

   app-track-list {
      max-width: 100%;
      margin: 0;
   }

   .router-outlet {
      margin-bottom: 1em;
      max-width: 100%;
   }
}

@media(max-width: 900px) {
   .tracks-layout {
      max-width: 90%;
   };
}