.top-bar {
   background-color: var(--darkgray);
   border-radius: var(--bradius);
   margin-bottom: 1em;
   padding: .5em;
   display: flex;
   align-items: center;
   max-width: 100%;
}

.track-tags {
   display: flex;
   flex-wrap: wrap;
}

.track-tag {
   font-size: .8em;
   background-color: var(--gray);
   padding: .2em .7em;
   margin: .25em;
   border-radius: 1em;
   cursor: pointer;
   user-select: none;
   transition: var(--transition);
   &:hover {
      background-color: var(--lightgray);
   }
}

.track-list-container {
   background-color: var(--darkgray);
   border-radius: var(--bradius);
}

@media(max-width: 1700px) {
   .search-bar {
   margin-right: 1em;
   max-width: 60%;
      & > input {
         max-width: 100%;
      }
   }
}
