<div class="top-bar">
   <div class="track-tags">
      <p class="track-tag" (click)="categorySelected('all')">All</p>
      <p class="track-tag" (click)="categorySelected('short')">Short Tracks</p>
      <p class="track-tag" (click)="categorySelected('intermediates')">Intermediates</p>
      <p class="track-tag" (click)="categorySelected('dirt')">Dirt</p>
      <p class="track-tag" (click)="categorySelected('superspeedways')">Superspeedways</p>
      <p class="track-tag" (click)="categorySelected('road')">Road Courses</p>
      <p class="track-tag" (click)="categorySelected('legacy')">Legacy</p>
   </div>
   <div class="button-container">
      <a class="a-button" routerLink="new">Add Track</a>
   </div>
</div>
<div class="track-list-container">
   <app-track-item *ngFor="let track of tracks" [track]="track">
   </app-track-item>
</div>