<div class="top-bar">
   <!-- <div class="track-tags">
      <p class="track-tag">All</p>
      <p class="track-tag">Short Tracks</p>
      <p class="track-tag">Intermediates</p>
      <p class="track-tag">Dirt</p>
      <p class="track-tag">Superspeedways</p>
      <p class="track-tag">Road Courses</p>
      <p class="track-tag">Legacy</p>
   </div> -->
   <div class="search-bar">
      <input class="" type="text" placeholder="Search" (keyup)="search(searchBox.value)" #searchBox>
   </div>
   <div class="button-container">
      <a class="a-button" routerLink="new">Add Track</a>
   </div>
</div>
<div class="track-list-container">
   <app-track-item
      *ngFor="let track of tracks | tracksFilter: term"
      [track]="track">
   </app-track-item>
</div>