.track-edit-buttons {
   display: flex;
   justify-content: center;
   margin: 1em 0;
}

.form-entry {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: .5em;
}

// Makes arrows in number imput larger (only works in Chrome)
input[type=number]::-webkit-inner-spin-button {
   width: 35px;
   height: 35px;
 }

button:disabled {
   background-color: var(--gray);
   outline: 1px solid var(--blue);
   cursor: not-allowed;
}