<div class="track-right-side">
   <div [ngSwitch]="editMode">
      <h2 class="right-side-heading" *ngSwitchCase="true">Edit Track</h2>
      <h2 class="right-side-heading" *ngSwitchCase="false">Add Track</h2>
   </div>
   <form id="track-edit-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <!-- Entries -->
      <div class="form-entry">
         <label for="name">Name:</label>
         <input 
            type="text"
            placeholder="Track Name"
            name="name"
            [ngModel]="track?.name"
            #name="ngModel"
            required>
      </div>
      <div class="form-entry">
         <label for="built">Built:</label>
         <input 
            type="text"
            placeholder="Year"
            name="built"
            [ngModel]="track?.built"
            #built="ngModel"
            required>
      </div>
      <div class="form-entry">
         <label for="length">Length:</label>
         <input 
            type="text"
            placeholder="Miles"
            name="length"
            [ngModel]="track?.length"
            #length="ngModel"
            required>
      </div>
      <div class="form-entry">
         <label for="surface">Surface:</label>
         <select
            name="surface"
            id="track-surface"
            [ngModel]="track?.surface"
            #surface="ngModel"
            required>
            <option value="Asphalt">Asphalt</option>
            <option value="Concrete">Concrete</option>
            <option value="Dirt">Dirt</option>
         </select>
      </div>
      <div class="form-entry">
         <label for="turns">Turns:</label>
         <input 
            type="text"
            placeholder="Number of turns"
            name="turns"
            [ngModel]="track?.turns"
            #turns="ngModel"
            required>
      </div>
      <div class="form-entry">
         <label for="banking">Banking:</label>
         <input 
            type="text"
            placeholder="Degrees"
            name="banking"
            [ngModel]="track?.banking"
            #banking="ngModel"
            required>
      </div>
      <div class="form-entry">
         <label for="capacity">Capacity:</label>
         <input 
            type="text"
            placeholder="Seating capacity"
            name="capacity"
            [ngModel]="track?.capacity"
            #capacity="ngModel"
            required>
      </div>
      <div class="form-entry">
         <label for="mapUrl">Map Name:</label>
         <input 
            type="text"
            placeholder="track-map"
            name="mapUrl"
            [ngModel]="track?.mapUrl"
            #mapUrl="ngModel"
            required>
      </div>
      <div class="form-entry">
         <label for="imageUrl">Image Name:</label>
         <input 
            type="text"
            placeholder="track-image"
            name="imageUrl"
            [ngModel]="track?.imageUrl"
            #imageUrl="ngModel"
            required>
      </div>

      <!-- Buttons -->
      <div class="track-edit-buttons">
         <button class="form-button form-button-blue" type="submit" [disabled]="!form.valid">Submit</button>
         <button class="form-button form-button-notblue" type="button" (click)="onCancel()">Cancel</button>
      </div>
   </form>
</div>