// Input, label, and button styles are in the root styles.scss

.track-edit-container {
   background-color: var(--darkgray);
   text-align: center;
   padding: 1em;
   color: var(--lightgray);
   border-radius: var(--bradius);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.track-name {
   font-size: 2em;
   margin: 0;
   margin-bottom: 1em;
}

#track-edit-form {
   display: flex;
   flex-direction: column;
   max-width: 75%;
}

.track-edit-buttons {
   display: flex;
   justify-content: center;
   margin: 1em 0;
}

.form-entry {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: .5em;
}