////
//  GLOBAL STYLES
//////

// Color Variables
:root {
   --black: #080808;
   --darkgray: #1d1d1d;
   --gray: #383838;
   --lightgray: #5a5a5a;
   --blue: #1e88e5;
   --blue-darker: #1b6eb8;
   --white: white;
}

// Style variables
:root {
   --bradius: 6px;
   --transition: cubic-bezier(0.6, 0.1, 0.35, 1) 250ms;
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// Don't you dare scroll horizontally
html, body {
   max-width: 100%;
   overflow-x: hidden;
}

body {
   background: black;
   color: var(--white);
   font-family: "Poppins", sans-serif;
   margin: 0;
}

a {
   color: var(--white);
}

.page-heading-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 1em;
   & > img {
      width: 30px;
      height: 30px;
      margin: 0 .75em;
   }
}

.page-heading {
   text-align: center;
   user-select: none;
   margin: 0;
}

// Don't touch my images
img {
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}
