////
//  GLOBAL STYLES
//////

// Color Variables
:root {
   --black: #080808;
   --darkgray: #1d1d1d;
   --gray: #383838;
   --blue: #1e88e5;
   --white: white;
}

// Style variables
:root {
   --bradius: 6px;
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
   background: black;
   color: var(--white);
   font-family: "Poppins", sans-serif;
   margin: 0;
}
