.category-cards-layout {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 69%;
   margin: 0 auto;
}

.category-card {
   background-color: var(--darkgray);
   max-width: 300px;
   border-radius: var(--bradius);
   margin: 1em;
   cursor: pointer;
   transition: cubic-bezier(0.6, 0.1, 0.35, 1) 250ms;
   &-heading {
      margin-top: 0;
      margin-bottom: .3em;
      font-size: 1.2em;
      font-weight: 400;
      text-align: center;
   }
   &-image {
      border-top-right-radius: var(--bradius);
      border-top-left-radius: var(--bradius);
      max-width: 100%;
      opacity: 90%;
   }
   &:hover {
      transform: translateY(-6px);
   }
}

@media(max-width: 1450px) {
   .category-cards-layout {
      max-width: 80%;
   }
}

@media(max-width: 1300px) {
   .category-cards-layout {
      max-width: 90%;
   }
}