<!-- Add links to these cards later! -->
<!-- Make sure you add alt text! -->
<div class="page-heading-container">
   <img src="../../assets/logos/symbol-blue.png" alt="Circle Tracks checkered flag symbol">
   <h1 class="page-heading">Categories</h1>
</div>
<div class="category-cards-layout">
   <div class="category-card">
      <img class="category-card-image" src="../../assets/images/home-images/short.png" alt="Image for short tracks">
      <h1 class="category-card-heading">Short Tracks</h1>
   </div>
   <div class="category-card">
      <img class="category-card-image" src="../../assets/images/home-images/intermediates.png" alt="Image for intermediate tracks">
      <h1 class="category-card-heading">Intermediates</h1>
   </div>
   <div class="category-card">
      <img class="category-card-image" src="../../assets/images/home-images/superspeedways.png" alt="Image for superspeedway tracks">
      <h1 class="category-card-heading">Superspeedways</h1>
   </div>
   <div class="category-card">
      <img class="category-card-image" src="../../assets/images/home-images/road.png" alt="Image for road courses">
      <h1 class="category-card-heading">Road Courses</h1>
   </div>
   <div class="category-card">
      <img class="category-card-image" src="../../assets/images/home-images/dirt.png" alt="Image for dirt tracks">
      <h1 class="category-card-heading">Dirt Tracks</h1>
   </div>
   <div class="category-card">
      <img class="category-card-image" src="../../assets/images/home-images/legacy-TEMP.png" alt="Image for legacy tracks">
      <h1 class="category-card-heading">Legacy Tracks</h1>
   </div>
</div>
